@using WebApp.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdTrip</title>
    <script src="~/Scripts/popper.min.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/messages_es.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/Chart.min.js"></script>
    <script src="~/Scripts/Views/ControlActions.js"></script>
    <script src="~/Scripts/Views/Layout.js"></script>

    <script src="~/Scripts/template/custom-navigation.js"></script>
    <script src="~/Scripts/template/jquery.mCustomScrollbar.concat.min.js"></script>

    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <script src="~/Scripts/i18n/defaults-es_ES.min.js"></script>

    <!-- SweetAlert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i%7CMerriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/bootstrap-reboot4.2.1.css">

    <!-- Sidebar Stylesheet -->
    <link rel="stylesheet" type="text/css" href="~/Content/template/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome Stylesheet -->
    <link rel="stylesheet" href="~/Content/template/font-awesome.min.css">

    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="~/Content/template/Style.css">
    <link rel="stylesheet" id="cpswitch" href="~/Content/template/blue.css">
    <link rel="stylesheet" href="~/Content/template/responsive.css">

</head>
<body>
    <!--============= INICIO TOP-BAR ===========-->
    <div id="top-bar" class="tb-text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">

                </div><!-- end columns -->
                <div class="col-12 col-md-6">
                    <div id="links">
                        <ul class="list-unstyled list-inline">
                            <div id="barVisitante" class="d-inline">
                                <li class="list-inline-item"><a href="@Url.Action("vLogin","Home")"><span><i class="fa fa-lock"></i></span>Iniciar sesión</a></li>
                                <li class="list-inline-item"><a href="@Url.Action("vRegistroUsuarios","Home")"><span><i class="fa fa-plus"></i></span>Registrarse</a></li>
                            </div>
                            <div id="barLogueado" class="d-none">
                                <li class="list-inline-item"><a id="nombreUsuario" href="@Url.Action("vPerfil","Home")"><span><i class="fa fa-user"></i></span></a></li>
                                <li class="list-inline-item"><a id="btnLogout" href="@Url.Action("Index","Home")"><span><i class="fa fa-minus"></i></span>Cerrar sesión</a></li>
                            </div>
                            <li class="list-inline-item">
                                <form>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div class="form-group currency">
                                                <span><i class="fa fa-angle-down"></i></span>
                                                <select class="form-control">
                                                    <option value="">$</option>
                                                    <option value="">£</option>
                                                </select>
                                            </div><!-- end form-group -->
                                        </li>
                                    </ul>
                                </form>
                            </li>
                        </ul>
                    </div><!-- end links -->
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    <!--============= FIN TOP-BAR ===========-->

    @Html.CtrlNavBar(id: "navBar", optionsName: "Inicio,Hoteles,Registrarse,Registro de hotel", optionsActionName: "Index,vHoteles,vRegistroUsuarios,vRegistroSolicitudHotel")

    @Html.CtrlSideBar(id: "sideBar", optionsName: "Inicio,Hoteles,Registrarse,Registro de hotel", optionsActionName: "Index,vHoteles,vRegistroUsuarios,vRegistroSolicitudHotel")


    @RenderBody()

    <footer>
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
    </footer>
</body>
@*<script>
        $(document).ready(function () {
            $('.alert').hide();
        });
    </script>*@
</html>
